.menuWhole {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menuItem {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.name {
    font-size: 1.3rem;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
}

.calories {
    background-color: #5f9ea0;
}

.type {
    background-color: dodger;
}

.side {
    background-color: #ffcc00;
}

.price {

}

button {

}