/*.menuWhole {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-evenly;*/
/*    align-items: flex-start;*/
/*}*/


.backButton {
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 3px;
}

@media screen and (max-width: 1000px) {
    .menuWhole {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }
}

